%h1 Listing videos

.videos-list
  - @videos.each do |video|
    .col-md-3.video-item
      .head
        = video.name
      .main
        %a{:href => video.video.url}
          %img{"data-preview" => video.video.thumb_url[0..-3], :src => video.video.thumb_url, :alt => video.name}
      .footer
        = link_to 'Show', video
        = link_to 'Edit', edit_video_path(video)
        = link_to 'Destroy', video, :method => :delete, :data => { :confirm => 'Are you sure?' }

= link_to 'New Video', new_video_path
